  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser3"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="{{photo}}"
        alt="UserPhoto"
        width="24"
        height="24"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="{{URL_BASE}}/inserir">Adicionar novo ponto</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="{{URL_BASE}}/sair">Sair</a></li>
    </ul>
  </div>
