<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16 w3-opacity">
    <a href="#home" class="w3-button w3-orange w3-right"><i class="fa fa-arrow-up w3-margin-right"></i></a>
    <div class="w3-card" id="team">
        <h3>Nicolas Monteiro</h3>
        <h3>Vinícius Felipe</h3>
        <h3>Eduardo Marques</h3>
        <h3>Izadora oliveira</h3>
    </div>
    <div class="w3-xlarge w3-padding-20 w3-center">
    <i class="fa fa-github w3-hover-opacity"><a href="https://github.com/viniciusFelipeS/hackaton-softex.git" target="_blank">Github</a></i>
    </div>
</footer>

<script>
  // Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>