<nav
  class="navbar navbar-expand-xl  flex-column menu shadow"
  style="width: 4.5rem"
>
  <a
    class="d-block mt-3 mb-5 text-center mx-auto"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <img
      src="resources\view\images\recycling-svgrepo-com.png"
      alt=""
      height="60"
    />
  </a>
  <div class="mb-auto">
    <a
      role="button"
      class="nav-link navbar-toggler"
      title="Mapa"
      data-bs-toggle="collapse"
      data-bs-target="#menuja"
      aria-expanded="false"
    >
    <i class="fas fa-bars"></i>
    </a>
    <div class="collapse navbar-collapse mt-5" id="menuja">
      <ul class="navbar-nav d-flex flex-column  mb-auto text-center">
        <li class="nav-item py-4">
          <a
            href="{{URL_BASE}}"
            class="nav-link"
            title="Mapa"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <i class="fas fa-map"></i>
          </a>
        </li>
        <li class="nav-item py-4">
          <a
            href="{{URL_BASE}}/sobre"
            class="nav-link"
            title="Sobre"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
          >
            <i class="fas fa-info-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{login}}
</nav>
