<div class="d-flex flex-column menu" style="width: 4.5rem">
  <a
    class="d-block mt-3 mb-5 text-center mx-auto"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <img
      src="resources\view\images\tipos_lixos\recycling-svgrepo-com.png"
      alt=""
      height="60"
    />
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item py-4 ">
      <a
        href="{{URL_BASE}}"
        class="nav-link"
        title="Home"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item py-4">
      <a
        href="#"
        class="nav-link"
        title="Sobre"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="fas fa-info-circle"></i>
      </a>
    </li>
    <li class="nav-item py-4">
      <a
        href="#"
        class="nav-link"
        title="RecicleJá"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="fas fa-recycle"></i>
      </a>
    </li>
    <li class="nav-item py-4">
      <a
        href="#"
        class="nav-link"
        title="Customers"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
      >
        <i class="fas fa-user-friends"></i>
      </a>
    </li>
  </ul>
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser3"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt="mdo"
        width="24"
        height="24"
        class="rounded-circle"
      />
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
