<nav
  class="navbar navbar-expand-xl d-flex flex-column menu shadow"
  style="width: 4.5rem"
>
  <a
    class="d-block mt-3 mb-5 text-center mx-auto"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <img
      src="resources\view\images\recycling-svgrepo-com.png"
      alt=""
      height="60"
    />
  </a>
  <a
    type="button"
    class="nav-link navbar-toggler"
    title="Mapa"
    data-target="Menu"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
  >
    <i class="fas fa-map"></i>
  </a>
  <div class="collapse navbar-collapse mt-5" id="Menu">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item py-4">
        <a
          href="{{URL_BASE}}"
          class="nav-link"
          title="Mapa"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <i class="fas fa-map"></i>
        </a>
      </li>
      <li class="nav-item py-4">
        <a
          href="{{URL_BASE}}/sobre"
          class="nav-link"
          title="Sobre"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <i class="fas fa-info-circle"></i>
        </a>
      </li>
    </ul>
  </div>
  {{login}}
</nav>
