<!-- Sobre -->
<div class="w3-container w3-light-green" style="padding:20px 16px" id="about">
    <div class="w3-content">
      <div class="w3-right">
        <h1>Sobre</h1>
        <h5 class="w3-padding-32">Criar um website com o intuito de mapear pontos de coleta de materiais recicláveis, com a finalidade de promover ações para estimular a reciclagem, mostrando sua importância e seus benefícios.</h5>
        <p class="w3-text-grey"></p>
      </div>
    </div>
  </div>
  
  <!-- reciclar, reutilizar, reduzir -->
  <div class="w3-container w3-center w3-blue" id="recicle">
    <h3 class="w3-center">3 Rs da Sustentabilidade <img class="w3-image" src="imagens/simbolorecicle.png" alt="lixeiroamarelo" width="100" height="100"></h3>
      <div class="w3-third">
        <p class="w3-large">Reduzir</p>
        <p style="padding:20px 30px">é a primeira ação para fomentar um cenário de reciclagem eficaz, já que será muito díficil conseguir bons índices de reciclagem se a quantidade de material descartado continuar a crescer. Então repense todos os resíduos que possam sair de cena ou ser substituído por reutilizável.</p>
      </div>
      <div class="w3-third">
        <p class="w3-large">Reutilizar</p>
        <p style="padding:20px 30px">Não deu para reduzir? Busque reutilizar ao máximo. Baldes de insumos não contaminantes, potes de vidros para armazenar alimentos, se o seu negócio for de alimentos aproveite para utilizar todas as partes dos ingredientes utilizados.</p>
      </div>
      <div class="w3-third">
        <p class="w3-large">Reciclar</p>
        <p style="padding:20px 30px">o que não der para reutilizar ou reduzir, direcione para reciclagem. Se eles não forem recicláveis volte para o primeiro item e reduza ou substitua por materiais, pelo menos, recicláveis.</p>
      </div>
  </div>
  
  <!-- Porque Reciclar -->
  
  <div class="w3-container w3-white" id="porque">
    <div class="w3-content">
        <h1 class= "w3-text-green">Porque Reciclar</h1>
        <h5 class="w3-padding-32 w3-text-green">As cidades produzem, diariamente, milhares de toneladas de lixo e esse é um problema que vem se tornando cada vez maior. No entanto, estamos chegando a um ponto em que já não é mais possível produzir e viver nas grandes cidades sem a implantação de medidas mais eficazes. Os aterros já não conseguem absorver a quantidade de lixo e a degradação do meio ambiente vem atingindo proporções perigosas para nossa sobrevivência no planeta.
  
          Nossos rios e represas estão cada vez mais contaminados; ratos e insetos proliferam-se; as ruas estão sujas favorecendo todo tipo de doenças.
          
          Em função disso, o poder público e a própria sociedade vêm buscando soluções para preservação do meio ambiente e da nossa própria espécie.</h5>
    </div>
  </div>