<!DOCTYPE html>
<html>
<title>Recifle Já</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-orange w3-card" id="myNavbar">
    <img class="w3-image" src="imagens/recycling-svgrepo-com.png" alt="lixeiroamarelo" width="60" height="60">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-info"></i></a>
      <a href="#beneficios" class="w3-bar-item w3-button"><i class="fa fa-"></i>Benefícios</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-group"></i> Time</a>
      <a href="#team" class="w3-bar-item w3-button">Cadastro</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1800px;" id="home">
  <img class="w3-image" src="imagens/lixos.png" alt="lixeiros">
</header>

<!-- First Grid -->
<div class="w3-container w3-white" style="padding:50px 16px" id="about">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Sobre</h1>
      <h5 class="w3-padding-32">Com o intuito de informar e tornar mais rápido a localização dos pontos de coleta no recife, que foi criado este site.
        Aqui você pode escolher o ponto de coleta pelo tipo de residuo que queira entregar.</h5>

      <p class="w3-text-grey"></p>
    </div>

    <div class="w3-third w3-center">
      <img class="w3-image" src="imagens/simboloreciclagem.jpg" alt="lixeiroamarelo" width="200" height="200">
    </div>
  </div>
</div>

<!-- Second Grid -->

<div class="w3-container w3-yellow" style="padding:50px 16px" id="beneficios">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img class="w3-image" src="imagens/lixeirosdesenhos.png" alt="lixeiroamarelo" width="290" height="300">
    </div>

    <div class="w3-twothird">
      <h1>Benefícios</h1>
      <h5 class="w3-padding-32">Reciclar significa dar um novo destino a produtos usados, sendo uma das armas mais eficientes contra a poluição, pois além de evitar a retirada de matéria prima da natureza, termina por dar um destino correto para o que seria considerado “lixo”.</h5>

      <p class="w3-text-grey"></p>
    </div>
  </div>
</div>

<!-- reciclar, reutilizar, reduzir -->
<div class="w3-container w3-center w3-blue" style="padding:50px 20px" id="">
  <h3 class="w3-center">3 Rs da Sustentabilidade</h3>
    <div class="w3-third">
      <p class="w3-large">Reduzir</p>
      <p>Reduzir consiste em ações que visem à diminuição da geração de resíduos, seja por meio da minimização na fonte ou por meio da redução do desperdício. Na redução, o objetivo é comprar bens e serviços de acordo com nossas necessidades para evitar desperdícios, adotando um consumo não apenas com consciência ambiental, mas também econômico. Exemplos de atitudes que visam à redução do desperdício são: uso racional da água, economia de energia elétrica e de combustíveis.</p>
    </div>
    <div class="w3-third">
      <p class="w3-large">Reutilizar</p>
      <p>Quando um produto é reutilizado, este é reaproveitado na mesma função ou em diversas outras possibilidades de uso. Assim, papéis, por exemplo, podem ser utilizados em blocos de rascunho ou garrafas podem se tornar objetos de decoração.
        Jogamos muitas coisas no lixo que poderiam ser reutilizadas para outros fins. Além disso, vale lembrar que a doação também pode ser uma boa alternativa, pois outra pessoa que necessita pode utilizar aquele objetivo que para você não tem mais utilidade.</p>
    </div>
    <div class="w3-third">
      <p class="w3-large">Reciclar</p>
      <p>A reciclagem envolve o processamento de um material com sua transformação física ou química, seja para sua reutilização sob a forma original ou como matéria-prima para produção de novos materiais com finalidades diversas. Por exemplo, pneus antigos podem se tornar componentes para asfalto ou latas de alumínio podem ser fundidas para darem origem a novas latas.</p>
    </div>  
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-20 w3-center w3-opacity">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Para cima</a>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Nicolas Monteiro</h3>
          <h3>Vinicius </h3>
          <h3>Eduardo </h3>
          <h3>Izadora oliveira</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-xlarge w3-padding-20">
    <i class="fa fa-github w3-hover-opacity"><a href="https://github.com/izadora-oliveira/hackaton-softex.git" target="_blank">Github</a></i>
 </div>
</footer>

<script>
  // Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
